PORT=3000
MQTT_URL=mqtt://test.mosquitto.org:1883
MQTT_OFFLINE_AFTER_MS=15000
MQTT_TOPIC_BASE_01=universidad/demo/aula-energia-01
MQTT_TOPIC_BASE_02=universidad/demo/aula-energia-02
MQTT_TOPIC_BASE_03=universidad/demo/aula-energia-03
MQTT_TOPIC_BASE_04=universidad/demo/aula-energia-04
MQTT_TOPIC_BASE_05=universidad/demo/aula-energia-05
MQTT_TOPIC_BASE_06=universidad/demo/aula-energia-06
